#-*- coding: utf-8 -*-

import sys
reload(sys)
sys.setdefaultencoding('utf-8')

{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-12 well text-center">
  <h2> 모든 실험 과정이 종료되었습니다. </h2>

  <h3>You have now completed all the steps and are entered into our drawing.</h3>

  <p>
	  
    You will need your password to check if you have won the prize. <br>
    Further instructions will be provided via email.<br>
    Best of luck!
  </p>

  </div>
</div>

{% endblock %}