{% extends "lecture/class_s.html" %}
{% block title %}Class_S{% endblock %}


{% block userPart %}
<div class="page-header">
	<h1> {{ user.username }} </h1>
	<h1> {{ user.codename }} </h1>
		
	{% if user.name or user.code %}
	<p>
		{% if user.username %}{{ user.username }}{% endif %}
		{% if user.usercode %}{{ user.codename }}{% endif %}
	</p>
	{% endif %}
	{% if current_user.is_administrator() %}
	<p><a href="mailto:{{ user.email }}">{{ user.email }}{% endif %}
 </a></p>
	<p> 
	</p>
</div>
{% endblock %}



<!--api -->

{% block content %}
	{% block socialPart %}
	{% endblock %}	
	
	{% block playerPart %}
	{% endblock %}	
	
	
	{% block nextPhase %} 
	
	<div id = button style = "margin:50px; padding: 50px; overflow: hidden; border: none; text-align: center;">
		
		<a href="survey/pre_survey.html"><button type="button" class="0" style = "margin:20px; padding:20px; overflow: hidden; border: none; text-align: center;"> Pre-questionnaire </button></a>
		
		<br>
		
		<a href="lecture/class_s.html"><button type="button" class="1" style = "margin:20px; padding:20px; overflow: hidden; border: none; text-align: center;"> Next [1] </button></a>

		<a href = "lecture/class_n.html"><button type="button" class="2" style = "margin:20px; padding: 20px; overflow: hidden; border: none; text-align: center;"> Next [2] </button></a>
		

	</div>
	{% endblock %}

{% endblock %}