{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<a href="class_n.html" id="" title="class_n">class_s</a>
{% block title %}Exprmnt{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1> {{ user.username }} </h1>
	<h1> {{ user.codename }}
		
	{% if user.name or user.code %}
	<p>
		{% if user.name%}{{ user.name }}{% endif %}
		{% if user.code %}{{ user.code }}{% endif %}
	</p>
	{% endif %}
	<!-- {% if current_user.is_administrator() %}
	<p><a href="mailto:{{ user.email }}">{{ user.email }}{% endif %}
 </a></p> -->
	<p> 
	</p>
</div>

<div class=social_>
	<script>
		
	</script>
/div>


<!--vdieo -->
<div class="page-body">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
		<script>
		// 2. This code loads the IFrame Player API code asynchronously.
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		
		
		
		// 3. This function creates an <iframe> (and YouTube player)
		        //    after the API code downloads.
	    var player;
	    function onYouTubeIframeAPIReady() {
	      player = new YT.Player('player', {
	        height: '585',
	        width: '960',
	        videoId: 'KmDYXaaT9sA',
	        events: {ㄴ
	          'onReady': onPlayerReady,
	          'onStateChange': onPlayerStateChange
	        }
	      });
	    }


	    // 4. The API will call this function when the video player is ready.
	    function onPlayerReady(event) {
	      event.target.playVideo();
	    }

		// 5. The API calls this function when the player's state changes.
		//    The function indicates that when playing a video (state=1),
		//    the player should play for six seconds and then stop.
		var done = false;
		function onPlayerStateChange(event) {
			if (event.data == YT.PlayerState.PLAYING && !done) {
				//setTimeout(stopVideo)(X) when video all played
				//show "next"	
		  	  setTimeout(stopVideo, 6000);
			  done = true;
			}``
		}
		
	
		
		onYouTubeIframeAPIReady()
		onPlayerReady()
		loadVideoById({'videoId': 'KmDYXaaT9sA',
		               'startSeconds': 0,
		               'endSeconds': 6000,
		               'suggestedQuality': 'large'});		

	</script>
					   
	<!-- player -->	
				   
</div>
{% endblock %}

