{% extends "base.html" %}
{% block title %}Class_S{% endblock %}





{% block userPart %}
<div class="page-header">
	<h1> {{ user.username }} </h1>
	<h1> {{ user.codename }} </h1>
		
	{% if user.name or user.code %}
	<p>
		{% if user.username %}{{ user.username }}{% endif %}
		{% if user.usercode %}{{ user.codename }}{% endif %}
	</p>
	{% endif %}
	{% if current_user.is_administrator() %}
	<p><a href="mailto:{{ user.email }}">{{ user.email }}{% endif %}
 </a></p>
	<p> 
	</p>
</div>
{% endblock %}



<!--api -->

{% block content %}


	{% block socialPart %}
	<!-- pinging  -->
	<!--div class : social -->
	<div class="social">
		<iframe id = "social" type="text/html" width="70" height="600" style="border:none" src = "http://127.0.0.1:5000/lecture/social" scrolling = no align = "left">
		</iframe>	
	</div>
	
	{% endblock %}



	{% block playerPart %}
	<!--video -->  
	<div class="page-body" style = "margin:10px; padding: 10px; overflow: hidden; border: none; text-align: center;">
		<iframe id="myPlayer" width="1024" height="576"
		  src="https://www.youtube.com/embed/NUuqNzB5nUo" frameborder="0" align="center">
		</iframe>	  


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript">
			console.log("ready!");


			if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {


				var tag = document.createElement('script');
				tag.src = "https://www.youtube.com/iframe_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag,firstScriptTag);

				window.onYoutubePlayerAPIReady = function() {
					onYouTubePlayer();
				};
			}

			else {
				onYouTubePlayer();
			}
		


			var player;	
			console.log("player created")
	
		    function onYouTubeIframeAPIReady() {
				player = new YT.Player('myPlayer', {
					events: { 'onStateChange': onPlayerStateChange }
				});
			}
			console.log('Video API is loaded.')


			//onPlayerStateChange
			function onPlayerStateChange(event) {
				if (event) {
					switch(event) {
						case 0:
							console.log('video ended');
							break;
						case 1:
							console.log('video playing from '+player.getCurrentTime());
							break;
						case 2:
							console.log('video paused at '+player.getCurrentTime());
							break;
					}
	
				}
				console.log("set!");
			}
	
			console.log("onPlayerStateChange set");



			function record(data){
			    // Do what you want with your data
				var p = document.createElement("p");
				p.appendChild(document.createTextNode(data));
				document.body.appendChild(p);
			}





			onPlayerStateChange(event);


	</script>
	</div>
	{% endblock %}
	
	
	
	{% block nextPhase %} 
	<div id = button style = "margin:10px; padding: 10px; overflow: hidden; border: none; text-align: center;">
		<br>
		<br>
		<a href = 'class_n2.html'><button type="button" class="nextPhase" > Next </button></a>

	</div>
	{% endblock %}
	
{% endblock %}








