{% extends "lecture/class_s.html" %}
{% block title %}Class_S{% endblock %}


{% block userPart %}
<div class="page-header">
	<h1> {{ user.username }} </h1>
	<h1> {{ user.codename }} </h1>
		
	{% if user.name or user.code %}
	<p>
		{% if user.username %}{{ user.username }}{% endif %}
		{% if user.usercode %}{{ user.codename }}{% endif %}
	</p>
	{% endif %}
	{% if current_user.is_administrator() %}
	<p><a href="mailto:{{ user.email }}">{{ user.email }}{% endif %}
 </a></p>
	<p> 
	</p>
</div>
{% endblock %}



<!--api -->

{% block content %}
	{% block socialPart %}
	{% endblock %}	
	
	{% block playerPart %}
	{% endblock %}	
	
	
	{% block nextPhase %} 
	
	<div id = button style = "margin:50px; padding: 50px; overflow: hidden; border: none; text-align: center;">
		<br>
		<br>
		<a href="class_s.html"><button type="button" class="1" > Next [1] </button></a>

		<a href = "class_n.html"><button type="button" class="2" > Next [2] </button></a>
		

	</div>
	{% endblock %}

	<div id = summaryList style = "margin:50px; padding: 50px; overflow: hidden; border: none; text-align: center;">
		<h3>Summary by {{ user.username }}</h3>
		{% include 'lecture/_summaries.html' %}
		{% if pagination %}
		<div class="pagination">
		    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
		</div>
	</div>
		<!-- <h3>Summaries by {% if current_user.is_authenticated %}{{ current_user.username }}{% else %} Stranger {% endif %}</h3> -->
{% endif %}
{% endblock %}