<html> 
<head> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script> 
<script type="text/javascript"> 
jQuery(document).ready(function($) {
words = ['word a','word b','word c','word d'];
backgroundColors = ['gray','yellow','blue','black','red'];
$(function() {
  setInterval(function() {
    var thisWord = words[Math.floor(Math.random() * words.length)];
    var thisBackground = backgroundColors[Math.floor(Math.random() * backgroundColors.length)];
    $("body").css('background',thisBackground);
    $("#container").text(thisWord);
  },200);
});
});
</script> 

</head> 
<body> 
<div class=container><p id=container>loading...</p></div> 
</body> 
</html> 