{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "lecture/_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>

	<!-- used to skip the blog post form for users who do not have th permission in their role -->
	<div class="col-md-4">
		{% if current_user.is_authenticated %}
	    {{ wtf.quick_form(form) }}
		{% endif %}
	</div>
	
	
	
	<!-- blog post list : implemented as an HTML unordered list, with CSS classes giving it nicer formatting -->
	<ul class = "summaries">
		{% for summary in summaries %}
		<li class = "summary">
			<div class = "summary-date"> {{ moment(summary.timestamp).fromNow() }} 		</div>
			<div class = "summary-author"> 
				<a href = "{{ url_for ('.user', username = summary.author.username) }}">
					{{ summary.author.username }}
				</a> 
			</div>
			<div class = "summary-body"> {{ summary.body }} </div>
		</li>
		{% endfor %}	
	</ul>
</div>


{% endblock %}