{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "lecture/_macros.html" as macros %}

{% block page_content %}
	{% block page_summary_define%}
	<div class="page-header">
	    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
	</div>
	{% endblock %}
	
	
	
	<div class="page-body">	
	{% block page_summary %}	

		<div class="col-md-12">
			{% if current_user.is_authenticated %}
		    {{ wtf.quick_form(form) }}
			{% endif %}
		</div>
		
	{% endblock %}
				
	{% block nextPhase %}
	<div>

	</div>	
	<div id = button class = "col-md-12" style = "margin:10px; padding: 10px; overflow: hidden; border: none; text-align: center;">
		<br>
		<br>
		<a href = '/survey/religion_survey'><button type="button" class="nextPhase" style="float: center;"> Next </button></a>

	</div>
	{% endblock %}
	
{% endblock %}