{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>

<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
			
			
			
	{% block nextPhase %}
	<div id = button style = "margin:10px; padding: 10px; overflow: hidden; border: none; text-align: center;">
		<br>
		<br>
		<a href = 'lecture/post-survey.html'><button type="button" class="nextPhase" style="float: center;"> Next </button></a>

	</div>
	{% endblock %}
	
{% endblock %}
